<form name = 'eventForm' action="controllerForm" method="post">
    <label for="descricao">Descrição:</label><br>
    <input type="text" id="descricao" name="descricao"><br>
    <label for="inicio">Data e horário de Inicio:</label>
    <input type="datetime-local" id="inicio" name="inicio"><br>
    <label for="termino">Data e horário de término:</label>
    <input type="datetime-local" id="termino" name="termino"><br>
    <input type="submit" name="btnSubmit" value="enviar">

</form>